# FitNotes EDA
## Marshall Ferguson - 12/2021

In [1]:
# Imports

import pandas as pd 
import numpy as np

In [2]:
# Import data

df = pd.read_csv('data\FitNotes\FitNotes_Export_2021_11_30_15_21_26.csv')

df.head()

,Date,Exercise,Category,Weight (lbs),Reps,Distance,Distance Unit,Time
0,2019-04-05,Flat Barbell Bench Press,Chest,45.0,10.0,NaN,NaN,NaN
1,2019-04-05,Barbell Squat,Legs,45.0,8.0,NaN,NaN,NaN
2,2019-04-05,Flat Barbell Bench Press,Chest,55.0,10.0,NaN,NaN,NaN
3,2019-04-05,Flat Barbell Bench Press,Chest,55.0,10.0,NaN,NaN,NaN
4,2019-04-05,Flat Barbell Bench Press,Chest,65.0,10.0,NaN,NaN,NaN

In [14]:
# Which exercise has been peformed most often (sets)?

frequency = df["Exercise"].value_counts()
frequency.head()

Flat Barbell Bench Press    419
Barbell Squat               322
Overhead Press              228
Deadlift                    189
Bent Over Barbell Row       187
Name: Exercise, dtype: int64

In [22]:
# Which exercise has been performed most often (reps)?

exercises_grouped = df.groupby('Exercise')

exercises_grouped['Reps'].sum().sort_values(ascending=False).head()

Exercise
Flat Barbell Bench Press    3213.0
Face Pull (Pulley)          2671.0
Lateral Dumbbell Raise      2046.0
Barbell Squat               2043.0
Lat Pulldown (Pulley)       1715.0
Name: Reps, dtype: float64

In [31]:
# Which exercise was I doing when I lifted the most weight?

df.sort_values(by='Weight (lbs)', ascending=False).head()

,Date,Exercise,Category,Weight (lbs),Reps,Distance,Distance Unit,Time
2541,2021-10-02,Deadlift,Back,275.0,1.0,NaN,NaN,NaN
2103,2021-04-29,Deadlift,Back,275.0,1.0,NaN,NaN,NaN
1615,2020-11-05,Trap Bar Deadlift,Back,255.0,5.0,NaN,NaN,NaN
2102,2021-04-29,Deadlift,Back,255.0,2.0,NaN,NaN,NaN
2285,2021-05-14,Deadlift,Back,255.0,4.0,NaN,NaN,NaN

In [36]:
# Which exercise have I used to lift the most volume?

df['Volume'] = df['Weight (lbs)'] * df['Reps']

exercises_grouped = df.groupby('Exercise')
exercises_grouped.sum().sort_values(by='Volume', ascending=False).head()

                                  Weight (lbs)    Reps  Distance    Volume
Exercise
Flat Barbell Bench Press               37290.0  3213.0       0.0  263585.0
Lat Pulldown (Pulley)                  19655.0  1715.0       0.0  218310.0
Barbell Squat                          31775.0  2043.0       0.0  183925.0
V-Grip Seated Cable Row (Pulley)       13155.0  1044.0       0.0  159250.0
Deadlift                               28715.0  1010.0       0.0  143760.0