# MyFitnessPal EDA
## Marshall Ferguson - 12/2021

In [2]:
# Imports

import pandas as pd

In [9]:
# Import data

df = pd.read_csv(r'data\MyFitnessPal\20211201\Nutrition-Summary-2016-12-01-to-2021-12-01.csv')

df.head()

,Date,Meal,Calories,Fat (g),Saturated Fat,Polyunsaturated Fat,Monounsaturated Fat,Trans Fat,Cholesterol,Sodium (mg),Potassium,Carbohydrates (g),Fiber,Sugar,Protein (g),Vitamin A,Vitamin C,Calcium,Iron,Note
0,2016-12-02,Meal 1,820.0,56.0,22.0,0.0,0.0,1.0,260.0,1160.0,580.0,54.0,4.0,10.0,24.0,16.0,0.0,30.0,20.0,NaN
1,2016-12-02,Meal 2,555.0,16.5,5.5,1.0,1.5,0.0,90.0,1360.0,214.5,62.5,13.0,5.0,50.0,14.0,40.0,49.0,38.0,NaN
2,2016-12-02,Meal 3,290.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2016-12-02,Meal 4,600.0,20.0,9.0,1.0,3.0,0.3,108.0,863.0,340.0,93.5,15.5,53.5,33.0,37.0,35.0,120.0,49.5,NaN
4,2016-12-03,Meal 4,550.0,12.5,5.0,0.5,1.5,0.0,270.0,360.0,450.0,42.0,3.0,26.0,62.0,18.0,35.0,73.0,6.0,NaN

In [19]:
# Which meal had the most calories?

max_cals = df['Calories'].max()
index_max_cals = pd.Index(df['Calories']).argmax()

print(df.loc[index_max_cals])

Date                   2021-02-14
Meal                       Meal 1
Calories                   1618.0
Fat (g)                      78.0
Saturated Fat                 0.0
Polyunsaturated Fat           0.0
Monounsaturated Fat           0.0
Trans Fat                     0.0
Cholesterol                   0.0
Sodium (mg)                   0.0
Potassium                     0.0
Carbohydrates (g)           156.0
Fiber                         0.0
Sugar                         0.0
Protein (g)                  73.0
Vitamin A                     0.0
Vitamin C                     0.0
Calcium                       0.0
Iron                          0.0
Note                          NaN
Name: 1026, dtype: object

In [22]:
# Which day had the most calories?

day_grouped = df.groupby('Date')
day_grouped['Calories'].sum().sort_values(ascending=False).head()

Date
2017-01-05    3117.5
2021-02-08    3017.0
2016-12-29    2912.5
2016-12-05    2870.0
2017-04-01    2852.3
Name: Calories, dtype: float64

In [23]:
# Which day had the most protein?

day_grouped = df.groupby('Date')
day_grouped['Protein (g)'].sum().sort_values(ascending=False).head()

Date
2021-02-12    286.3
2020-09-19    273.3
2021-02-09    268.0
2016-12-22    264.5
2021-02-08    262.7
Name: Protein (g), dtype: float64

In [36]:
# What is the avg caloires/day for the last 2 weeks?

day_grouped = df.groupby('Date')
day_grouped['Calories'].sum().tail(14).mean()

1348.1285714285714