# Data Cleaning Test
## Marshall Ferguson - 1/2022

In [1]:
# Imports

import datetime
import pandas as pd

In [2]:
# Import Data

df_fitnotes = pd.read_csv(r'..\test_data\FitNotes_Test_Data.csv')
df_myfitnesspal = pd.read_csv(r'..\test_data\MyFitnessPal_Test_Data.csv')
df_renpho = pd.read_csv(r'..\test_data\RenPho_Test_Data.csv')

In [3]:
df_fitnotes['Volume (lbs)'] = df_fitnotes['Weight (lbs)'] * df_fitnotes['Reps']

df_fitnotes.head()

,Date,Exercise,Category,Weight (lbs),Reps,Distance,Distance Unit,Time,Volume (lbs)
0,2020-07-11,Flat Barbell Bench Press,Chest,45.0,12.0,NaN,NaN,NaN,540.0
1,2020-07-11,Flat Barbell Bench Press,Chest,65.0,8.0,NaN,NaN,NaN,520.0
2,2020-07-11,Flat Barbell Bench Press,Chest,95.0,6.0,NaN,NaN,NaN,570.0
3,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN,630.0
4,2020-07-11,Flat Barbell Bench Press,Chest,105.0,6.0,NaN,NaN,NaN,630.0

In [4]:
dates = []

for date in df_renpho['Time of Measurement']:
    dates.append(datetime.datetime.strptime(date, "%B %d, %Y %I:%M:%S %p").date())

df_renpho['Date'] = dates

df_renpho.head()

,Time of Measurement,Weight(lb),BMI,Body Fat(%),Fat-free Body Weight(lb),Subcutaneous Fat(%),Visceral Fat,Body Water(%),Skeletal Muscle(%),Muscle Mass(lb),Bone Mass(lb),Protein(%),BMR(kcal),Metabolic Age,Remarks,Date
0,"December 1, 2021 4:16:11 AM",243.4,31.6,28.1,174.8,24.0,14.0,51.9,46.4,166.2,8.8,16.4,2084.0,35.0,--,2021-12-01
1,"November 30, 2021 5:38:54 AM",242.6,31.5,28.0,174.6,23.9,14.0,52.0,46.5,165.8,8.8,16.4,2080.0,35.0,--,2021-11-30
2,"November 29, 2021 4:47:06 AM",247.2,32.1,28.9,175.8,24.7,14.0,51.3,45.9,166.8,8.8,16.2,2091.0,35.0,--,2021-11-29
3,"November 28, 2021 5:15:57 AM",248.0,32.2,29.0,176.0,24.8,14.0,51.2,45.8,167.4,8.8,16.2,2095.0,35.0,--,2021-11-28
4,"November 27, 2021 3:13:45 AM",247.6,32.1,29.0,176.0,24.8,14.0,51.3,45.9,166.8,8.8,16.1,2092.0,35.0,--,2021-11-27

In [5]:
myfitnesspal_varsofinterest = ['Date', 'Calories', 'Fat (g)', 'Carbohydrates (g)', 'Protein (g)']

df_myfitnesspal_trimmed = df_myfitnesspal.filter(myfitnesspal_varsofinterest, axis=1)

df_myfitnesspal_trimmed.head()

         Date  Calories  Fat (g)  Carbohydrates (g)  Protein (g)
0  2019-06-07     430.0     12.0               35.0         42.0
1  2019-06-07     480.0     24.0               37.4         31.5
2  2019-06-07     315.0      3.3               33.0         41.5
3  2019-06-07     935.0     24.4              114.5         92.3
4  2019-06-08     230.0      7.5               16.0         23.0

In [6]:
renpho_varsofinterest = ['Date', 'Weight(lb)', 'BMI', 'Body Fat(%)', 'BMR(kcal)', 'Metabolic Age']

df_renpho_trimmed = df_renpho.filter(renpho_varsofinterest, axis=1)

df_renpho_trimmed.head()

         Date  Weight(lb)   BMI  Body Fat(%)  BMR(kcal)  Metabolic Age
0  2021-12-01       243.4  31.6         28.1     2084.0           35.0
1  2021-11-30       242.6  31.5         28.0     2080.0           35.0
2  2021-11-29       247.2  32.1         28.9     2091.0           35.0
3  2021-11-28       248.0  32.2         29.0     2095.0           35.0
4  2021-11-27       247.6  32.1         29.0     2092.0           35.0

In [7]:
df_fitnotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066 entries, 0 to 2065
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2066 non-null   object
 1   Exercise       2066 non-null   object
 2   Category       2066 non-null   object
 3   Weight (lbs)   2058 non-null   float64
 4   Reps           2058 non-null   float64
 5   Distance       8 non-null      float64
 6   Distance Unit  8 non-null      object
 7   Time           8 non-null      object
 8   Volume (lbs)   2058 non-null   float64
dtypes: float64(4), object(5)
memory usage: 145.4+ KB

In [8]:
df_myfitnesspal_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               731 non-null    object
 1   Calories           731 non-null    float64
 2   Fat (g)            731 non-null    float64
 3   Carbohydrates (g)  731 non-null    float64
 4   Protein (g)        731 non-null    float64
dtypes: float64(4), object(1)
memory usage: 28.7+ KB

In [9]:
df_renpho_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           543 non-null    object
 1   Weight(lb)     543 non-null    float64
 2   BMI            543 non-null    float64
 3   Body Fat(%)    543 non-null    float64
 4   BMR(kcal)      543 non-null    float64
 5   Metabolic Age  543 non-null    float64
dtypes: float64(5), object(1)
memory usage: 25.6+ KB

In [11]:
df_fitnotes.to_csv("test_CSVs\FitNotes_Test_CSV.csv", index=False)

In [12]:
df_myfitnesspal_trimmed.to_csv("test_CSVs\MyFitnessPal_Test_CSV.csv", index=False)

In [13]:
df_renpho_trimmed.to_csv("test_CSVs\RenPho _Test_CSV.csv", index=False)